


<table border="2">
 {%for a in st%}  <tr>
     
       
        <td>{{a.REF}}</td>
        <td>{{a.createdAt|date('d/m/Y')}}</td>
       
      


      
          
        </td>


    </tr>    {% endfor %}
    </table>