


<table border="2">
 {%for a in st%}  <tr>
     
       
        <td>{{a.id}}</td>
        <td>{{a.name}}</td>
       
      


      
          
        </td>


    </tr>    {% endfor %}
    </table>